.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000000;
}

.header {
  margin: 0 0 100px 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}
.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
  align-self: center;
  z-index: 2;

}
.header__subtitle {
  max-width: 388px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}
.header__link {
  text-decoration: none;
}
.header__link:link {
  color: #2f80ed;
}
.header__link:visited {
  color: #2f80ed;
}
.header__main-illustration {
  height:608px;
  width: 765px;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right:0;
  top: 64px;
}
/*class section - Yandex logo*/
.logo {
  width: 183px;
  height: 32px;
  z-index: 2;
}
.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 64px;
  top: 30px;
  }
.logo_place_footer {
  
}
.description {
  margin-bottom: 100px;
}
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.two-columns__brief {
  width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.two-columns__paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}
.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}
.digits {
  width: 1100px;
  margin: 0 auto 100px;
}
.section-title {
  margin:0 auto 20px;
  text-align: center;
  width: 60%;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.15;
}
.section-title_theme_dark {
  color: white;
  z-index: 1;
}
.section-subtitle {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  }
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}
.table {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.table_theme_dark {
  margin: 80px auto;
  }
.table__cell {
  width: 250px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  z-index: 1;
}
.table__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
}
.table__heading_theme_dark {
  color: white;
}
.table__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}
.table__text_theme_dark {
  color: white;
}
/* и элемента с модификатором вида ключ-значение */

.feynman {
  position: relative;
  margin: 0 auto;
}
.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  font-weight: bold;
  font-size: 120px;
  line-height: 1.15;
  text-align: center;
}
.feynman__subtitle{
  margin: 0 auto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
}
.feynman__link {
  position: absolute;
  align-self: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  right: 48px;
  top: 50%;
}
.feynman__img {
  width: 867px;
  height: 637px;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.kaufman {
  background-color: #1f1f1f;
  margin: 0 auto;
  padding-top: 90px;
  overflow: hidden;
  position: relative;

}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  position:absolute;
  top:0;
  right: -210px;

}
.footer {
  background-color: #1f1f1f;
  color: white;
}
.footer__columns {

}
.footer__column_content_copyright {

}
.footer__author {

}
